*{margin:0;padding:0;}
header,footer,article,section,hgroup,nav,figure{display:block;}
body{color:#fcfcfc;background-color:#355664;font-family:"Praxis LT","Linux Biolium",sans-serif;}
a,a:visited{color:#0196e3;text-decoration:none;outline:none;}a img,a:visited img{}
a:hover,a:visited:hover{text-decoration:underline;}
h1,h2,h3,h4{font-family:"Praxis LT","Linux Biolium",sans-serif;text-shadow:0 1px 1px black;}h1 a,h2 a,h3 a,h4 a,h1 a:visited,h2 a:visited,h3 a:visited,h4 a:visited{color:#fcfcfc;}
h1{font-size:3.5em;padding:0.5em 0 0;}
header{padding-top:20px;}
header h3{margin:0 0 1em;}
header h2{letter-spacing:0.01em;}
h2{font-size:2.2em;font-weight:normal;}
h3{font-size:2em;font-weight:normal;}
h4{font-size:1.2em;}
p{line-height:1.5em;padding-bottom:1em;}
.line{height:1px;background-color:#24404c;border-bottom:1px solid #416371;margin:1em 0;overflow:hidden;}
article .line{background-color:#15242a;border-bottom-color:#204656;margin:1.3em 0;}
footer .line{margin:2em 0;}
nav{top:4em;top-margin:4em;border:1px solid #fcfcfc;-moz-box-shadow:0 1px 1px #333333;-webkit-box-shadow:0 1px 1px #333333;box-shadow:0 1px 1px #333333;background-color:#dadada;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#dadada), to(#eeeeee));background:-webkit-linear-gradient(top, #dadada, #eeeeee);background:-moz-linear-gradient(top, #dadada, #eeeeee);background:-ms-linear-gradient(top, #dadada, #eeeeee);background:-o-linear-gradient(top, #dadada, #eeeeee);}nav ul li{display:inline;}nav ul li a,nav ul li a:visited{color:#565656;display:block;float:left;font-size:1.25em;font-weight:bold;margin:5px 2px;padding:7px 10px 4px;text-shadow:0 1px 1px white;}nav ul li a:hover,nav ul li a:visited:hover{text-decoration:none;background-color:#f0f0f0;}
nav.clear:after{content:".";}
.clear:after{display:block;height:0;clear:both;visibility:hidden;}
nav,article,nav ul li a{-moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;}
#page{width:85%;min-width:180px;margin:0 auto;position:relative;}
#fullfloats{overflow:auto;}
article{background-color:#213e4a;margin:2em 0;padding:15px;overflow:auto;}
figure img,figure .noimage{margin-bottom:5px;overflow:hidden;vertical-align:middle;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;-moz-box-shadow:0 0 7px #4d7788;-webkit-box-shadow:0 0 7px #4d7788;box-shadow:0 0 7px #4d7788;}figure img:hover,figure .noimage:hover{-moz-box-shadow:0 0 17px #4d7788;-webkit-box-shadow:0 0 17px #4d7788;box-shadow:0 0 17px #4d7788;}
figure img{background-color:#213e4a;}
figure .noimage{display:block;background-color:#355664;text-align:center;}
figure.fullimage img,figure.navigation img{padding:10px;}
figure.thumb{float:left;margin:2em 1em;}
figure.navigation{margin:0em 0em;}
div.fullimage{float:left;margin:2em 1em;}
footer{margin-bottom:30px;text-align:center;font-size:0.825em;}footer p{margin-bottom:-2.5em;position:relative;}
footer img{vertical-align:text-top;}
footer a,footer a:visited{color:#cccccc;padding:2px 4px;z-index:100;position:relative;}footer a:hover,footer a:visited:hover{text-decoration:none;background-color:#142830;}
footer .by{margin-right:5px;float:left;}
footer .tmpl{margin-left:5px;float:right;}
ul{margin:0.2em 0.1em;padding-left:1.5em;}
